[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=alex
Type=forking
Environment=DISPLAY=:0
ExecStart=/bin/sh /home/alex/.dotfiles-local/bin/lock.sh
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
